<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<script src="__PUBLIC__/js/jquery-2.1.3.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<load href="__PUBLIC__/hplus/toastr/toastr.min.css" />
</head>
<body>
	
	<div>
	<table  class="table">
    	<tr>
    		<th>ID</th>
            <th >分类名称</th>
            <th >上级分类的ID，0：代表顶级</th>
            <th>分类级别</th>
            <th>路径</th>
			<th>操作</th>
        </tr>
        <foreach name="data" key="k" item="v">
			<tr>
				<td>{$v['id']}</td>
				<td>{:str_repeat('-|', 3*$v['level'])}{$v['cate_name']}</td>
				<td>{$v['parent_id']}</td>
				<td>{$v['level']}级分类</td>
				<td>{$v['cate_path']}</td>
		        <td>
		        	<a href="{:U('edit?id='.$v['id'].'&p='.I('get.p'))}" title="编辑" class="btn btn-default">编辑</a>
	                <a href="javascript:;" onclick="del(this,{$v['id']})" title="移除" class="btn btn-danger">移除</a> 
		        </td>
	        </tr>
	      </foreach>
		      <tr>
			      <td colspan="7" align="center">
					 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
                                    添加
     				</button>
			      </td>
		      </tr>
	</table>
</div>

<!-- 模态框 -->
	
      <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">分类添加</h4>
                        <small class="font-bold">添加顶级或子级分类
                    </div>
                    <div class="modal-body">
                       <!-- form表单 -->
						<div  class="row">
							 <div class="col-md-4"></div>
							 <div class="col-md-4">
							    <form  method="post"  id="add-form" action="__SELF__">
							        <table class="table table-bordered">
										<tr>
											<td>上级权限</td>
											<td>
												<select name="parent_id" class="form-control" style="width:200px">
													<option value="0">顶级权限</option>
													<foreach name='parentData' key="k" item="v">
														<option value="{$v['id']}">{:str_repeat('-', 5*$v['level']).$v['cate_name']}
														</option>
													</foreach>
												</select>
											</td>
										</tr>
							            <tr>
							                <td>分类名称</td>
							                <td>
							                    <input  type="text" name="cate_name" value=""  class="form-control" style="width:200px"/>
							                </td>
							            </tr>
							        </table>
							    </form>
						    </div>
						    <div class="col-md-4"></div>
						</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="add-keep">保存</button>
                    </div>
                </div>
            </div>
        </div>
</body>
<load href="__PUBLIC__/hplus/toastr/toastr.min.js" />
<script>
	$('#add-keep').click(function(){
			$('#add-form').submit();
	});


	function del(obj,id){
		
		$.ajax({
			type: "GET",
			url: "{:U('admin/category/delete')}",
			data: {'id':id},
			dataType: "json",
			success: function(res) {
				 if(res){
                    toastr['success']('删除成功！');
                    $(obj).parent().parent().remove();
                }else{
                    toastr['error']('删除失败 !');
                }
			}
		});
		
	}

</script>
</html>
