<extend name='./Public/template/listBase.html'/>

  <!-- 加载自己的外部文件 -->
  <block name="listfile">
  </block>

  <!-- 这里写内容 -->
  <block name="listcentent">
    <!-- 开始 -->
    <div class="container-filut">
      <div class="" style="margin-bottom:10px;width:100%;height:50px;font-size:20px;font-weight:bold;line-height:50px;padding-left:10px;border-bottom:1px solid #ccc;">
          <div class="" style="">
                我接收的雇佣
          </div>
      </div>
        <div class="" style="height:10px;width:100%;"></div>
      <div class="">
        <form class="form-inline" action="index.html" method="post">
          <table class="table">
            <tr>
              <td><input type="text" class="form-control" name="name" value="请输入编号"/></td>
              <td><input type="text" class="form-control" name="name" value="请输入名称"/></td>
              <td>
                <select class="form-control" name="" >
                  <option value="" selected="selected">全部</option>
                  <option value="">待接受</option>
                  <option value="" >待付款</option>
                  <option value="" >已付款</option>
                  <option value="" >工作中</option>
                  <option value="" >完成工作</option>
                  <option value="" >交易完成</option>
                  <option value="" >交易关闭</option>
                  <option value="" >交易仲裁</option>
                </select>
              </td>
              <td>
                <select class="form-control" name="">
                  <option selected="selected">编号降序</option>
                  <option>编号升序</option>
                </select>
              </td>
              <td><input type="submit" class="btn btn-info" name="name" value="搜索"></td>
            </tr>
          </table>
        </form>
      </div>
        <div class="" style="height:10px;width:100%;"></div>
      <div class="">
          <table class="table table-hover">
            <tr>
              <th>编号</th>
              <th>标题</th>
              <th>金额(元)</th>
              <th>发布时间</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </tr>
          </table>
      </div>
      <div class="" style="height:10px;width:100%;"></div>
        <div class="">
          <!-- 分页 -->
          共有 N  条数据
        </div>
      </div>
    </div>
    <!-- 结束 -->
  </block>
