<extend name='./Public/template/base.html'/>

<block name="file">
    <!-- 独立的 -->
    <load file="__PUBLIC__/home/order/css/bid-order-contract.css"/>
    <load href="__PUBLIC__/home/need/js/stepBar.js"/>
    <load file="__PUBLIC__/home/need/js/jquery.easing.1.3.js"/>
</block>
<block name="content">
	<!-- 托管页开始 -->
	<div class="container">
		<div class="row">
			<div class="container-box col-lg-12">
				<!-- 左边内容 -->
				<div class="box-left col-lg-9">
					<!-- 服务信息 -->
					<div class="service-info">
						<div class="service-info-box">
							<!-- 头像 -->
							<div class="service-info-div">
								<a href="">
									<img src="__PUBLIC__/Uploads/headportrait/{$user.impr_picture}">
								</a>
							</div>
							<!-- 购买信息 -->
							<div class="service-info-div-title">
								<span>{$publish.pubh_title}</span>
							</div>
							<div class="service-info-right">
								<span>解释说明流程或logo区</span>
							</div>
							<!-- 托管金额 -->
							<div class="service-info-con col-lg-10">
								<!-- 判断线上 还是线下 托管金为默认的零时线下 反之 线上-->
								<if condition="$order.order_trusteeship_price gt 0">
									<div class="service-info-money">
										<span class="span1">托管金额</span>
										<span class="span2">￥</span>
										<span class="span3">{$order.order_trusteeship_price}</span>
									</div>
								<else/>
									<div class="service-info-money">
										<span class="span1">线下交易金</span>
										<span class="span2">￥</span>
										<span class="span3">{$order.order_number_price}</span>
									</div>
								</if>
								<a href="{:U('Home/StoreOrder/bidorderRemove',['order_bidid'=>$order['order_bidid'],'order_id'=>$order['id'],'order_needid'=>$order['order_needid']])}" class="btn btn-warning">取消中标</a>
							</div>
							<!-- 解释流程 -->
							
							<div class="service-info-bottom col-lg-10">
								<span class="service-info-con-span">请确定工作周期,签约合同</span>
							</div>
						</div>
					</div>
					<!-- 服务信息结束 -->
					<!-- 进度条 -->
					<div id="stepBar" class="ui-stepBar-wrap col-lg-12">
						<div class="ui-stepBar">
							<div class="ui-stepProcess"></div>
						</div>
						<div class="ui-stepInfo-wrap">
							<table class="ui-stepLayout" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td class="ui-stepInfo">
										<a class="ui-stepSequence">1</a>
										<p class="ui-stepName">已中标</p>
									</td>
									<td class="ui-stepInfo">
										<a class="ui-stepSequence">2</a>
										<p class="ui-stepName">赏金托管</p>
									</td>
									<td class="ui-stepInfo">
										<a class="ui-stepSequence">3</a>
										<p class="ui-stepName">合同上传</p>
									</td>
									<td class="ui-stepInfo">
										<a class="ui-stepSequence">4</a>
										<p class="ui-stepName">工作中</p>
									</td>
									<td class="ui-stepInfo">
										<a class="ui-stepSequence">5</a>
										<p class="ui-stepName">评价</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!-- 进度条结束 -->
					<!-- 合同 交易类型 -->
					<div class="row">
						<div class="contract-con col-lg-12">
							<!-- 内容头部选项 -->
							<div class="content col-lg-12">
								<!-- 选项 -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="contentorder-title col-lg-2"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">需求</a></li>
									<li role="presentation" class="contentorder-title col-lg-2"><a href="#contract" aria-controls="home" role="tab" data-toggle="tab">合同</a></li>
									<li role="presentation" class="active contentorder-title col-lg-2"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">工作台</a></li>
								</ul>
								<!-- 内容 -->
								<div class="tab-content">
									<!-- 需求开始 -->
									<div role="tabpanel" class="tab-pane" id="home">
										<div class="need-box col-lg-12">
											<p class="need-box-needid">需求号: <span>{$need.need_id}</span></p>
											<p class="need-box-pdesc">需求描述:</p>	
											<div class="need-desc">
												{$need.need_desc}
											</div>
											<div class="need-other">
												<p>发布时间:
													<span class="need-time">{:date('Y-m-d',$need['need_time'])}</span>
												</p>
											</div>
										</div>
									</div>
									<!-- 需求结束 -->
									<!-- 合同开始 -->
									<div role="tabpanel" class="tab-pane" id="contract">
										<div class="row">
											<div class="contract-box col-lg-12">
												<h3 class="contract-title">三方合同</h3>
												<p class="contract-explain">三方合同说明：此合同由雇主、服务商及XXX网在线签订、共同遵守</p>
												<div class="contract-file col-lg-12">
													<dl class="contract-file-dl">
														<dt class="contract-file-dt">合同文件</dt>
														<empty name="accessory">
															<dd class="contract-file-dd">服务商未上传合同</dd>
														<else/>
															<dd class="contract-file-dd contract-file-dd1">{$store.store_name}</dd>
															<dd class="contract-file-dd">{$accessory.order_small} M</dd>
															<dd class="contract-file-dd">{:date('Y-m-d',$accessory['addtime'])}</dd>
															<dd class="contract-file-dd contract-file-dd-last">
																<a href="{:U('Home/StoreOrder/accessoryDownLoad',['id'=>$accessory['id']])}">下载</a>
															</dd>
														</empty>
													</dl>
												</div>
												<div class="contract-text col-lg-12">
													<p>
														1.雇主与服务商应确认各项目阶段具体内容、工作期限、支付金额的事项，无异议后服务商开始工作
													</p>
													<p>
														2.本协议订立后,服务商应按照约定的工作期限、工作内容完成工作并提交工作成果，双方可协商变更各项目阶段工作内容、期限、支付金额等内容，变更须以补充协议或者其他明确的方式作出，否则视为未变更
													</p>
												</div>
												<div class="contract-seal col-lg-6">
													<p>
														甲方(雇主): <span>{$user.user_account}</span>
													</p>
													<p>
														签署日期: <span>{:date('Y-m-d',time())}</span>
													</p>
													<div class="contract-seal-img">
														<img class="seal-img-no" src="__PUBLIC__/image/service/image/signs.png">
													</div>
												</div>
												<div class="contract-seal col-lg-6">
													<p>
														乙方(服务商): <span>{$store.store_realname}</span>
													</p>
													<p>
														签署日期: <span>{:date('Y-m-d',$accessory['addtime'])}</span>
													</p>
													<div class="contract-seal-img">
														<if condition="$order['order_status'] lt 7">
															<img class="seal-img-no" src="__PUBLIC__/image/service/image/signs.png">
														<else/>
															<img class="seal-img-ok" src="__PUBLIC__/image/service/image/signs.png">
														</if>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- 合同结束 -->
									<!-- 工作台 -->
									<div role="tabpanel" class="active tab-pane" id="profile">
										<form action="{:U('Home/StoreOrder/bidOrderContract')}" method="post">
											<input type="hidden" name="id" value="{$accessory['id']}">
											<input type="hidden" name="order_id" value="{$order['id']}">
											<div class="form-group service-work col-lg-12">
												<if condition="$order['order_status'] lt 7">
													 <p class="col-lg-12">
														服务商尚未上传合同,请耐心等待或联系服务商
													</p>
													<p class="col-lg-12">
														若服务商上传合同,同意请签合同,不满意请联系服务商协商或取消订单
													</p> 
													<div class="service-work-btn col-lg-12">
														<button type="button" class="btn btn-info" id="remindContract" btnurl="{:U('Home/StoreOrder/remindContract')}">提醒卖家发起合同</button>
													</div>
												<else/>
												<!-- 如果服务商上传合同 -->
													<p class="col-lg-12">
														请您与服务商签署交易合同。交易合同可以有效保障双方权益，减少争议纠纷。
													</p>
													<p class="col-lg-12">
														若协议内容变更，请您及时与服务商及时修改合同查到合同请到点击菜单合同选项。
													</p>
													<div class="service-work-btn col-lg-12">
														<button type="submit" class="btn btn-info">确认签署</button>
														<button id="contract-button" type="button" class="btn btn-primary btn-xs">
														查看合同
														</button>
													</div>
												</if>
											</div>
										</form>
										<!-- 需求信息 -->
										<div class="need-desc-box">
											<p class="need-desc">
												需求号 :<span class="need-id">{$need.need_id}</span>
												发布时间 :<span class="need-time">{:date('Y-m-d',$need['need_time'])}</span>
											</p>
										</div>
										<!-- 需求信息结束 -->
									</div>
									<!-- 工作台结束 -->
								</div>
							</div>
							<!-- 内容结束 -->
								
						</div>	
					</div>
					<!-- 合同 交易类型结束 -->
				</div>
				<!-- 右边服务商信息 -->
				<div class="box-right col-lg-3">
					<p class="service-store-title">--服务商--</p>
					<!-- 服务商店铺信息 -->
					<div class="service-store">
						<!-- 店铺图片 -->
						<a href="">
							<img class="service-store-img" src="__PUBLIC__/Uploads/{$store['file_image']}">
						</a>
						<!-- 店铺名称 -->
						<p class="service-store-name">
							{$store.store_name}
						</p>
						<!-- 能力等级 -->
						<p class="service-store-level">
							<span>建立时间:</span>
							<span class="level-span">{:date('Y-m-d',$store['store_addtime'])}</span>
						</p>
						<!-- 所在地 -->
						<p class="service-store-level">
							<span>所在地:</span>
							<span class="level-span">{$store.store_address}</span>
						</p>
					</div>
					<!-- 最新案例 -->
					<p class="service-store-title">--他的最新案例--</p>
					<div class="service-store-case col-lg-12">
						<!-- 遍历最新成功案例 -->
						<empty name="case">
							<p>暂无最新案例!</p>
						<else/>
							<foreach name="case" item="val">
								<p class="col-lg-12">
									<span class="case-money">￥金额</span>
									<span class="level-span">{$val.case_title}</span>
								</p>
							</foreach>
						</empty>
					</div>
				</div>
			</div>
			<!-- 合同模态框 -->
			<div class="modal fade" id="contract-modal">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title">合同</h4>
					    </div>
					    <div class="modal-body">
					        <div class="row">
								<div class="contract-box col-lg-12">
									<h3 class="contract-title">三方合同</h3>
									<p class="contract-explain">三方合同说明：此合同由雇主、服务商及XXX网在线签订、共同遵守</p>
									<div class="contract-file col-lg-12">
										<dl class="contract-file-dl">
											<dt class="contract-file-dt">合同文件</dt>
											<empty name="accessory">
												<dd class="contract-file-dd">服务商暂未上传合同</dd>
											<else/>
												<dd class="contract-file-dd contract-file-dd1">{$store.store_name}</dd>
												<dd class="contract-file-dd">{:date('Y-m-d',$accessory['addtime'])}</dd>
												<dd class="contract-file-dd contract-file-dd-last">
													<a href="{:U('Home/StoreOrder/accessoryDownLoad',['id'=>$accessory['id']])}">下载</a>
												</dd>
												<empty name="sup">
												<else/>
													<foreach name="sup" item="valsup">
														<dd class="contract-file-dd contract-file-dd1">补充合同</dd>
														<dd class="contract-file-dd">{$valsup.sup_small} M</dd>
														<dd class="contract-file-dd">{:date('Y-m-d',$valsup['sup_addtime'])}</dd>
														<dd class="contract-file-dd contract-file-dd-last">
															<a href="{:U('Home/StoreOrder/supDownLoad',['id'=>$valsup['sup_id']])}">下载</a>
														</dd>
													</foreach>
												</empty>
											</empty>
										</dl>
									</div>
									<div class="contract-text col-lg-12">
										<p>
											1.雇主与服务商应确认各项目阶段具体内容、工作期限、支付金额的事项，无异议后服务商开始工作
										</p>
										<p>
											2.本协议订立后,服务商应按照约定的工作期限、工作内容完成工作并提交工作成果，双方可协商变更各项目阶段工作内容、期限、支付金额等内容，变更须以补充协议或者其他明确的方式作出，否则视为未变更
										</p>
									</div>
									<div class="contract-seal col-lg-6">
										<p>
											甲方(雇主): <span>{$user.user_account}</span>
										</p>
										<p>
											签署日期: <span>{:date('Y-m-d',$accessory['addtime'])}</span>
										</p>
										<div class="contract-seal-img">
											<img class="seal-img-no" src="__PUBLIC__/image/service/image/signs.png">
										</div>
									</div>
									<div class="contract-seal col-lg-6">
										<p>
											乙方(服务商): <span>{$store.store_realname}</span>
										</p>
										<p>
											签署日期: <span>{:date('Y-m-d',$accessory['addtime'])}</span>
										</p>
										<div class="contract-seal-img">
											<if condition="$order['order_status'] lt 7">
											<img class="seal-img-no" src="__PUBLIC__/image/service/image/signs.png">
											<else/>
												<img class="seal-img-ok" src="__PUBLIC__/image/service/image/signs.png">
											</if>
										</div>
									</div>
								</div>
							</div>
					    </div>
					    <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
					    </div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- 模态框结束 -->
		</div>
	</div>
	<load href="__PUBLIC__/js/mo.js" />
	<script type="text/javascript">
		// 模态框
		$('#contract-button').click(function(){
			// 调用模态框
	   		$('#contract-modal').modal();

	    });

		// 调用进度条js
		$(function(){
			stepBar.init("stepBar", {
				// 目标进度
				step : 3,
				// 插件是否被选中
				change : true,
				animation : true,
				// 时间
				speed : 50
			});
		});

		//提醒服务商上传合同
	    $('#remindContract').click(function(){
	    	// 发件人 自己
	    	var sender = '{$user.user_account}';
	    	// 收件人 服务商
	    	var receiver = '{$userb.user_account}';
	    	// 标题
	    	var title = '合同提醒';
	    	// 内容
	    	var centent = '请尽快上传合同';
	    	//类型
	    	var type = 1;
	    	//cd
	    	var cd = 10
	    	// 提交地址
	    	var btnurl = $(this).attr('btnurl');
	    	$.post(btnurl,{'mesm_sender':sender,'mesm_receiver':receiver,'mesm_title':title,'mesm_centent':centent,'mesm_type':type},function(data){
	    		if(data){
	    			// 倒计时
	    			var timer = setInterval(function(){
	    				$('#remindContract').html('发送成功'+cd+'s');
	    				$('#remindContract').attr('disabled',true);
	    				cd--;
	    				if(cd == 0){
	    					clearInterval(timer);
	    					cd = 10;
	    					$('#remindContract').html('提醒卖家发起合同');
	    					$('#remindContract').attr('disabled',false);
	    				}
	    			},1000);
	    		}else{
	    			mo.msg('请重新提醒服务商');
	    		}
	    	});
	    });
	</script>
</block>
