<extend name='./Public/template/base.html'/>

<block name="file">
    <!-- 独立的 -->
    <load file="__PUBLIC__/home/order/css/order-trusteeship.css"/>
    <load file="__PUBLIC__/home/order/css/order-contract.css"/>
	<load file="__PUBLIC__/home/order/css/order-worked.css"/>
	<load file="__PUBLIC__/home/order/css/order-evaluate.css"/>
	<script src="__PUBLIC__/js/jquery.raty.js"></script>
</block>
<block name="content">
	<!-- 托管页开始 -->
	<div class="container">
		<div class="row">
			<div class="container-box col-lg-12">
				<!-- 左边内容 -->
				<div class="box-left col-lg-9">
					<!-- 服务信息 -->
					<div class="service-info">
						<div class="service-info-box">
							<!-- 头像 -->
							<div class="service-info-div">
								<a href="">
									<img src="__PUBLIC__/Uploads/need/201701/586e2b5a2301a.jpg" alt="">
								</a>
							</div>
							<!-- 购买信息 -->
							<div class="service-info-div-title">
								<span>购买的服务:</span>
								<a href="">{$publish.pubh_title}</a>
							</div>
							<div class="service-info-con col-lg-10">
								<div class="service-info-money">
									<span class="span1">金额</span>
									<span class="span2">￥</span>
									<span class="span3">{$order.order_number_price}</span>
									<span class="span4">总金额</span>
								</div>
								<button type="button" class="btn btn-warning">取消订单</button>
							</div>
							<div class="service-info-con col-lg-10">
								<span class="service-info-con-span">满意请给服务商评价,评价会更好的提升账号的信誉度</span>
							</div>
						</div>
					</div>
					<!-- 服务信息结束 -->
					<!-- 内容头部选项 -->
					<div class="content col-lg-12">
						<!-- 选项 -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="contentorder-title col-lg-2"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">需求描述</a></li>
							<li role="presentation" class="contentorder-title col-lg-2"><a href="#contract" aria-controls="home" role="tab" data-toggle="tab">合同</a></li>
							<li role="presentation" class="active contentorder-title col-lg-2"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">工作台</a></li>
						</ul>
						<!-- 内容 -->
						<div class="tab-content">
							<!-- 需求开始 -->
							<div role="tabpanel" class="tab-pane" id="home">
								<!-- 订单号 -->
								<div class="ordernum">
									订单号:&nbsp;&nbsp;<span>{$order.order_number}</span>
								</div>
								<!-- 要求 -->
								<div class="order-need">
									您的要求:
								</div>
								<!-- 订单的信息 -->
								<div class="order-info">
									<p>服务分类:<span>{$store_category}</span></p>
									<p>购买数量:<span>{$order.order_number_total}</span></p>
									<p>您的需要:<span>{$publish.pubh_title}</span></p>
									<p>具体需取:<span>{$order.description}</span></p>
								</div>
								<!-- 订单的信息结束 -->
								<div class="order-time col-lg-12">
									<div class="col-lg-4">
										<span>时间:</span>
										<span>{:date('Y-m-d',$order['order_time'])}</span>
									</div>
									<div class="col-lg-4">
										<span>订单号:</span>
										<span>{$order.order_number}</span>	
									</div>
									<div class="col-lg-4">
										<a href="">
											<span>申请退款&nbsp;&gt;</span>
										</a>
									</div>
								</div>
							</div>
							<!-- 需求结束 -->
							<!-- 合同开始 -->
							<div role="tabpanel" class="tab-pane" id="contract">
								<div class="row">
									<div class="contract-box col-lg-12">
										<h3 class="contract-title">三方合同</h3>
										<p class="contract-explain">三方合同说明：此合同由雇主、服务商及XXX网在线签订、共同遵守</p>
										<div class="contract-file col-lg-12">
											<dl class="contract-file-dl">
												<dt class="contract-file-dt">合同文件</dt>
												<dd class="contract-file-dd contract-file-dd1">{$store.store_name}</dd>
												<dd class="contract-file-dd">{$accessory.order_small} M</dd>
												<dd class="contract-file-dd">{:date('Y-m-d',$order['order_time'])}</dd>
												<dd class="contract-file-dd contract-file-dd-last">
													<a href="{:U('Home/StoreOrder/accessoryDownLoad',['id'=>$accessory['id']])}">下载</a>
												</dd>
												<!-- 判断是不是有补充合同 -->
												<empty name="sup">
												<else/>
													<foreach name="sup" item="valsup">
														<dd class="contract-file-dd contract-file-dd1">补充合同</dd>
														<dd class="contract-file-dd">{$valsup.sup_small} M</dd>
														<dd class="contract-file-dd">{:date('Y-m-d',$valsup['sup_addtime'])}</dd>
														<dd class="contract-file-dd contract-file-dd-last">
															<a href="{:U('Home/StoreOrder/supDownLoad',['id'=>$valsup['sup_id']])}">下载</a>
														</dd>
													</foreach>
												</empty>
											</dl>
										</div>
										<div class="contract-text col-lg-12">
											<p>
												1.雇主与服务商应确认各项目阶段具体内容、工作期限、支付金额的事项，无异议后服务商开始工作
											</p>
											<p>
												2.本协议订立后,服务商应按照约定的工作期限、工作内容完成工作并提交工作成果，双方可协商变更各项目阶段工作内容、期限、支付金额等内容，变更须以补充协议或者其他明确的方式作出，否则视为未变更
											</p>
										</div>
										<div class="contract-seal col-lg-6">
											<p>
												甲方(雇主): <span>{$user.user_account}</span>
											</p>
											<p>
												签署日期: <span>2017年01月01日</span>
											</p>
											<div class="contract-seal-img">
												<img src="__PUBLIC__/image/service/image/signs.png">
											</div>
										</div>
										<div class="contract-seal col-lg-6">
											<p>
												乙方(服务商): <span>{$store.store_realname}</span>
											</p>
											<p>
												签署日期: <span>2017年01月01日</span>
											</p>
											<div class="contract-seal-img">
												<img src="__PUBLIC__/image/service/image/signs.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 合同结束 -->
							<!-- 工作台 -->
							<div role="tabpanel" class="active tab-pane" id="profile">
								<!-- 进度条 -->
								<div class="speed col-lg-1">
									<center>
										<!-- 服务球 -->
										<div class="speed-service speed-service-box1 col-lg-12">
											<span class="speed-service">服务</span>
										</div>
										<!-- 合同球 -->
										<div class="speed-service speed-contract-box1 col-lg-12">
											<span class="speed-service speed-work">合同</span>
										</div>
										<!-- 工作球 -->
										<div class="speed-service speed-work-box1 col-lg-12">
											<span class="speed-service speed-work">工作</span>
										</div>
										<!-- 评价球 -->
										<div class="speed-service speed-evaluate-box1 col-lg-12">
											<span class="speed-service">评价</span>
										</div>
										<!-- 条 -->
										<div class="speed-bar">
											<!-- 服务条 -->
											<div class="speed-bar-service1"></div>
										</div>
									</center>
								</div>
								<!-- 服务部分 -->
								<div class="work-box col-lg-11">
									<div class="service1 col-lg-12">
										<p class="col-lg-12">
											<span class="col-lg-9">您购买了服务:&nbsp;<a href="">购买的服务名称</a></span>
											<span class="service1-order-time col-lg-3">{:date('Y-m-d H:i:s',$order['order_time'])}</span>
										</p>
										<p class="service-p2 col-lg-12">
											您托管赏金后，服务商方可确认开始工作。也可您主动联系服务商，线下沟通需求，确认合作。
										</p>
										<div class="information col-lg-12">
											<div class="row">
												<div class="col-lg-4">
													<img width="30" src="__PUBLIC__/image/service/image/tel.jpg" alt="">
													<span class="information-span">{$store.store_phone}</span>
												</div>
												<div class="col-lg-4">
													<img width="30" src="__PUBLIC__/image/service/image/QQ.jpg" alt="">
													<span class="information-span">{$store.store_qq}</span>
												</div>
												<div class="col-lg-4">
													<img width="30" src="__PUBLIC__/image/service/image/email.jpg" alt="">
													<span class="information-span">{$store.store_email}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 服务部分结束 -->
								<!-- 合同 -->
								<div class="work-box col-lg-11">
									<div class="service-work1 col-lg-12" id="service-contract">
										<!-- 如果服务商上传合同 -->
										<p class="col-lg-12">
											您已与服务商签署了交易合同，交易合同可以有效保障双方权益，减少争议纠纷。
										</p>
										<p class="col-lg-12">
											若协议内容变更或修改了需求赏金，请您及时与雇主补充合同进行描述。
										</p>
										<div class="service-work-btn col-lg-12">
											<button class="btn btn-info" disabled="disabled">已签约合同</button>
										</div>
									</div>
								</div>
								<!-- 合同结束 -->
								<!-- 工作部分 -->
								<div class="work-box col-lg-11">
									<div class="service-work2 col-lg-12">
										<p class="col-lg-12">
											服务商正在工作中，为保障服务效果，请与服务商保持良好的沟通，跟进项目。
										</p>
										<p class="col-lg-12">
											该需求需要服务商提供源文件，如果服务商还没有上传任何源文件，请慎重付款。
										</p>
										<div class="file-dowmload2 col-lg-12">
											<!-- 遍历原件 -->
											<foreach name="accessory_service" item="vala">
												<span class="file-span1 col-lg-3">服务商原件:</span>
												<span class="file-span2 col-lg-3">{$vala.order_small} M</span>
												<span class="file-span2 col-lg-3">{:date('Y-m-d H:i:s',$vala['addtime'])}</span>
												<span class="file-span2 col-lg-3">
													<a href="{:U('Home/StoreOrder/accessoryServiceDownLoad',['id'=>$vala['id']])}">文件下载</a>
												</span>
											</foreach>
										</div>
										<div class="service-work-btn col-lg-12">
											<button type="button" class="btn btn-default" disabled="disabled">已付款</button>
										</div>
										<p class="col-lg-12 service-work-prompt">
											工作出现问题？你可以发起 
											<a href="">申请退款 ></a>
										</p>
									</div>
								</div>
								<!-- 工作部分 -->
								<!-- 评价部分 -->
								<div class="evaluate-box col-lg-11">
									<div class="evaluate2 col-lg-12">
										<p class="col-lg-12">
											项目已完成，请对服务商进行评价。
										</p>
										<div class="evaluate2-btn col-lg-12">
											<button type="button" class="btn btn-info" id="evaluate-btn">立即评价</button>
										</div>
									</div>
									<!-- 模态框 -->
									<div class="modal fade" id="evaluate-modal">
										<div class="modal-dialog">
										    <div class="modal-content">
										      	<div class="modal-header">
										        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										       		<h2 class="modal-title">请评价</h2>
										      	</div>
										      	<div class="row">
										      		<center>
												      	<div class="contract-modalbox col-lg-12">
															<!-- 店铺评分 -->
															<form action="{:U('Home/StoreOrder/orderEvaluate')}" method="post" onsubmit="return modalVerify()">
																<input type="hidden" name="user_id" value="{$order.order_employerid}">
																<div class="col-free-shop">
																	<!-- 服务商评价 -->
																	<div>
																		<table class="table table2-n">
																			<tr>
																				<th>
																					<span class="comment-icon good-comment"></span>
																					<label class="font1">
																					<input type="radio" name="comment_gmb" checked value="0"> 好评</label>
																				</th>
																				<th>
																					<span class="comment-icon middle-comment"></span>
																					<label class="font1">
																					<input type="radio" name="comment_gmb" value="1"> 中评</label>
																				</th>
																				<th>
																					<span class="comment-icon bad-comment"></span>
																					<label class="font1">
																					<input type="radio" name="comment_gmb" value="2"> 差评
																					</label>
																				</th>
																			</tr>
																			<tr>
																				<td colspan="3">
																					<div id="star1"></div><span>服务态度</span>
																				</td>
																			</tr>
																			<tr>
																				<td colspan="3">
																					<div class="star2"></div><span>工作速度</span>
																				</td>
																			</tr>
																			<tr>
																				<td colspan="3">
																					<div class="star3"></div><span>工作质量</span>
																				</td>
																			</tr>
																		</table>
																	</div>
																	<!-- 简单的描述回复内容 -->
																	<div>
																		<textarea name="content" rows="6" cols="75" id="evaluate-text">评价描述最多60字节</textarea>
																	</div>
																	<button type="submit" class="btn btn-info">提交评价</button>
																</div>
															</form>
														</div>
											      	</center>
										      	</div>
										    </div><!-- /.modal-content -->
										</div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
									<!-- 模态框结束 -->
								</div>
								<!-- 评价结束 -->
							</div>
							<!-- 工作台结束 -->
						</div>
					</div>
				</div>
				<!-- 右边服务商信息 -->
				<div class="box-right col-lg-3">
					<p class="service-store-title">--服务商--</p>
					<!-- 服务商店铺信息 -->
					<div class="service-store">
						<!-- 店铺图片 -->
						<a href="">
							<img class="service-store-img" src="__PUBLIC__/Uploads/{$store['file_image']}" alt="">
						</a>
						<!-- 店铺名称 -->
						<p class="service-store-name">
							{$store.store_name}
						</p>
						<!-- 能力等级 -->
						<p class="service-store-level">
							<span>建立时间:</span>
							<span class="level-span">{:date('Y-m-d',$store['store_addtime'])}</span>
						</p>
						<!-- 所在地 -->
						<p class="service-store-level">
							<span>所在地:</span>
							<span class="level-span">{$store.store_address}</span>
						</p>
					</div>
					<!-- 最新案例 -->
					<p class="service-store-title">--他的最新案例--</p>
					<div class="service-store-case col-lg-12">
						<!-- 遍历最新成功案例 -->
						<empty name="case">
							暂无案例!!!
						<else/>
							<foreach name="case" item="val">
								<p class="col-lg-12">
									<span class="case-money">￥金额</span>
									<span class="level-span">{$val.case_title}</span>
								</p>
							</foreach>
						</empty>
					</div>
				</div>
			</div>
		</div>
	</div>
	<load href="__PUBLIC__/js/mo.js" />
	<script type="text/javascript">
		// 模态框
		$('#evaluate-btn').click(function(){
			// 调用模态框
	   		$('#evaluate-modal').modal();
	   		// 位置
	   		var top = $(window).height()/4
	   		$('#evaluate-modal').css('margin-top',top);
	    });

	    // 星星评分
	    $('#star1').raty({ 
			score:3,
			// halfShow: true,
			path:'/shop/Public/image/service/star',
			starOff: 'star-off-big.png',
			starOn: 'star-on-big.png',
			starHalf: 'star-half-big.png',
			// input(name) 分数名自己定义
			scoreName    : 'star_service_attitude',
			cancel   : true,
			cancelOff: 'cancel-off-big.png',
			cancelOn : 'cancel-on-big.png',
			cancelPlace: 'right',
			  click: function(score, evt) {
			    $(this).attr('value',score);
		 	 }
		});

		$('.star2').raty({ 
			score:3,
			// halfShow: true,
			path:'/shop/Public/image/service/star',
			starOff: 'star-off-big.png',
			starOn: 'star-on-big.png',
			starHalf: 'star-half-big.png',
			// input(name) 分数名自己定义
			scoreName    : 'star_work_speed',
			cancel   : true,
			cancelOff: 'cancel-off-big.png',
			cancelOn : 'cancel-on-big.png',
			cancelPlace: 'right',
			  click: function(score, evt) {
				$(this).attr('value',score);
			 }
		});
		
		$('.star3').raty({ 
			score:3,
			// halfShow: true,
			path:'/shop/Public/image/service/star',
			starOff: 'star-off-big.png',
			starOn: 'star-on-big.png',
			starHalf: 'star-half-big.png',
			// input(name) 分数名自己定义
			scoreName    : 'star_finish_quality',
			cancel   : true,
			cancelOff: 'cancel-off-big.png',
			cancelOn : 'cancel-on-big.png',
			cancelPlace: 'right',
			click: function(score, evt) {
				  $(this).attr('value',score);
			  	}
		});

		// testarea 提示信息
		$('#evaluate-text').focus(function(){
			$(this).html('');
		}).blur(function(){
			$(this).html('评价描述最多60字节');
		});
		// 验证 留言评价
		function modalVerify(){
	    	// 留言
	    	var areatext = $('#evaluate-text').val();
	    	if(areatext.length > 60){
	    		mo.msg('留言过长');
	    		return false;
	    	}
	    }
	</script>
</block>
