<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/CSS/bootstrap.min.CSS">
	<link rel="stylesheet" href="__PUBLIC__/CSS/shop.CSS">
	<script src="__PUBLIC__/js/jquery-2.1.3.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__PUBLIC__/js/tendina.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="header">
				<div class=" header-top">
					<div class="middle">
						<div class="header-left">
							<ul class="header-left-ul">
								<li><a href="">手机服务平台</a></li>
								<li><a href="">服务平台</a></li>
								<li><a href="">服务商库</a></li>
							</ul>
						</div>
						<div class="header-right">
							<ul class="header-right-ul">
								<li><a href="">服务平台首页</a></li>
								<li><a href="">登录</a></li>
								<li class="hidden-li">
									<a href="">
										免费注册
										<i class="icon-bottom"></i>
									</a>
									<div class="hidden-li-div">
										<p><a href="">我的订单</a></p>
										<p><a href="">我的足迹</a></p>
										<p><a href="">我的收藏</a></p>
										<p><a href="">雇主俱乐部</a></p>
									</div>
								</li>
								<li class="hidden-li">
									<a href="">
										我是服务商
										<i class="icon-bottom"></i>
									</a>
									<div class="hidden-li-div">
										<p><a href="">我的订单</a></p>
										<p><a href="">我的足迹</a></p>
										<p><a href="">我的收藏</a></p>
										<p><a href="">雇主俱乐部</a></p>
									</div>
								</li>

								<li class="hidden-nav">
									<a href="">
										网站导航
										<i class="icon-bottom"></i>
									</a>
									<div class="hidden-nav-div">
										<ul class="hidden-nav-ul">
											<li>
												<strong>基础服务</strong>
												<div class="hidden-nav-link">
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
												</div>
											</li>
											<li>
												<strong>基础服务</strong>
												<div class="hidden-nav-link">
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
												</div>
											</li>
											<li class="hidden-nav-li">
												<strong>行业市场</strong>
												<div class="hidden-nav-link">
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
													<a style="color:#444;" href="">服务商库</a>
												</div>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="container width style">
		<div class="row">
			<div class="col-md-2 bg">
				<div class="layout_left_menu">
			        <ul class="tendina blue" id="menu">
			        	<li class="childUlLi">
			                <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;基本资料</a>
			                <ul class="childUlLi-ul"style="display: none;">
			                    <li class="style"><a href="{:U('Home/Service/aa')}" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;完善资料</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;修改头像</a></li>
			                </ul>
			            </li>
			            <li class="childUlLi">
			                <a href="#"> <i class="glyphicon glyphicon-search"></i>&nbsp;寻找商机</a>
			                <ul class="childUlLi-ul"style="display: none;">
			                   
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;服务自荐</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;适合我的订单</a></li>
			                </ul>
			            </li>
			            <li class="childUlLi">
			                <a href="#"> <i class="glyphicon glyphicon-th-list"></i>&nbsp;服务管理</a>
			                <ul class="childUlLi-ul"style="display: none;">
			                   
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;发布服务</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;已发布的服务</a></li>
			                    
			                </ul>
			            </li>
			            <li class="childUlLi">
			                <a href="#"> <i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;交易管理</a>
			                <ul class="childUlLi-ul"style="display: none;">
			                   
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;我的订单</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;收支记录</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;评价管理</a></li>
			                </ul>
			            </li>
			            <li class="childUlLi">
			                <a href="#"> <i class="glyphicon glyphicon-lock"></i>&nbsp;账号管理</a>
			                <ul class="childUlLi-ul"style="display: none;">
			                   
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;密码管理</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;账号充值</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;我要提现</a></li>
			                </ul>
			            </li>
			            <li class="childUlLi">
			                <a href="#"> <i class="glyphicon glyphicon-home"></i>&nbsp;店铺管理</a>
			                <ul class="childUlLi-ul"style="display: none;">
			                   
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;店铺装修</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;案例管理</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;魅力标题</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;技能标签</a></li>
			                </ul>
			            </li>
			            <li class="childUlLi">
			                <a href="#"> <i class="glyphicon glyphicon-envelope"></i>&nbsp;消息管理</a>
			                <ul class="childUlLi-ul"style="display: none;">
			                   
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;收信箱</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;发信箱</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;垃圾箱</a></li>
			                    <li class="style"><a href="#" target="">　<i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;技能标签</a></li>
			                </ul>
			            </li>
			        </ul>
    			</div>
			</div>
			<div class="col-md-10 style set-shop">
				<block name="right1">
					aaaaaaaaaaaaaaaa
				<block />
			</div>
		</div>
	</div>
<!-- footer 底部 -->
	<div class="server-footer">
		<div class="middle server-footer-top">
			<ul>
				<h4>新手指南</h4>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
			</ul>
			<ul>
				<h4>新手指南</h4>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
			</ul>
			<ul>
				<h4>新手指南</h4>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
			</ul>
			<ul>
				<h4>新手指南</h4>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
				<li><a href="">注册新用户</a></li>
			</ul>

		</div>
		<div class="server-footer-bottom">
			<div class="middle">
				<div class="bottom-link">
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a  target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a><span class="split">|</span>
					<a target="_blank">关于我们</a>
				</div>
				<p class="ui-footer-copyright">
		            Copyright 2005-2016 zbj.com  版权所有  <a rel="nofollow" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" rel="nofollow">渝ICP备10202274-1号</a> <a rel="nofollow" href="http://www.cqca.gov.cn/" target="_blank" rel="nofollow">渝B2-20080005</a>
		            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50019002500154" style=""><img src="http://t5.zbjimg.com/r/page/icp.png" style=""/>渝公网安备 50019002500154号</a><span>&nbsp;&nbsp;互联网违法和不良信息举报电话：023-88390110 邮箱：110@zbj.com</span>
		        </p>
			</div>
		</div>
	</div>
</body>
</html>
