<extend name='./Public/template/base.html'/>

<block name="file">
    <!-- 独立的 -->
    <load href="__PUBLIC__/layui/css/layui.css" />
    <load href="__PUBLIC__/home/need/css/need-budget.css"/>
    <load href="__PUBLIC__/home/need/js/stepBar.js"/>
    <load href="__PUBLIC__/home/need/js/jquery.easing.1.3.js"/>
    <load href="__PUBLIC__/home/need/js/need-budget.js" />
    <load href="__PUBLIC__/layui/layui.js" />

</block>
<block name="content">
	<!-- 进度条 -->
	<div class="container">
		<div class="row">
			<div id="stepBar" class="ui-stepBar-wrap">
				<div class="ui-stepBar">
					<div class="ui-stepProcess"></div>
				</div>
				<div class="ui-stepInfo-wrap">
					<table class="ui-stepLayout" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td class="ui-stepInfo">
								<a class="ui-stepSequence">1</a>
								<p class="ui-stepName">选择类目</p>
							</td>
							<td class="ui-stepInfo">
								<a class="ui-stepSequence">2</a>
								<p class="ui-stepName">选择交易模式</p>
							</td>
							<td class="ui-stepInfo">
								<a class="ui-stepSequence">3</a>
								<p class="ui-stepName">描述需求</p>
							</td>
							<td class="ui-stepInfo">
								<a class="ui-stepSequence">4</a>
								<p class="ui-stepName">核对交易清单</p>
							</td>
							<td class="ui-stepInfo">
								<a class="ui-stepSequence">5</a>
								<p class="ui-stepName">等待审核需求</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 进度条结束 -->
	<!-- 内容区 -->
	<div class="container">
		<center>
			<div class="budget-box col-lg-12">
				<!-- 说明按钮 -->
				<div class="box-btn">
					<button id="jexplain-btn" type="button" class="btn btn-info box-explain-btn">
						<p>点击查</p>
						<p>看说明</p>
					</button>
				</div>
				<!-- 按钮结束 -->
				<!-- 弹出说明框 -->
				<div class="box-explain">
					<p>请选择您的预算金更加容易匹配优质的服务商</p>
					<p>本站模本发布有效期为1年</p>
				</div>

				<!-- 说明框结束 -->
				<div class="box-form col-lg-12">
					<form class="form-inline" action="{:U('Home/Need/needBudget')}" method="post" onsubmit="return budgetVerify()">
						<!-- 不确定 -->
						<div id="form-select" class="col-lg-12">
					   		<label class="control-label left-label">您的预算:</label>
					   		<div id="select-budget" class="input-group col-lg-9">
					     		<select class="form-control" name="need_budget1" id="jselect">
									<option value="">请选择</option>
									<option value="10000-50000">1万-5万</option>
									<option value="50000-100000">5万-10万</option>
									<option value="100000-500000">10万-50万</option>
									<option value="500000-1000000">50万-100万</option>
									<option value="1000000+">100万以上</option>
								</select>
					    	</div>
					    </div>
					    <!-- 确定 -->
					    <div id="form-input" class="col-lg-12">
					   		<label class="control-label left-label">您的预算:</label>
					   		<div id="input-budget" class="input-group">
					     		<input type="text" class="form-control" id="exampleInputAmount" placeholder="明确预算" name="need_budget" value="{$data.need_budget}">
					     		<div class="input-group-addon">元</div>
					    	</div>
					    </div>				    
					    <!-- 点击切换 -->
				    	<div class="form-group col-lg-12">
				    		<span id="form-budget-a">无明确预算</span>
				    	</div>
						<div class="col-lg-12 input-date">
					   		<label class="control-label left-label">需求有效期:</label>
					   		<div class="input-group layui-input-inline">
					     		<input class="layui-input form-control" placeholder="有效日" id="LAY_demorange_e" name="need_valid_time" value="{:date('Y-m-d',$data['need_valid_time'])}">
					    	</div>
					    </div>	
				    	<div class="form-group col-lg-12">
			    			<span class="top-span col-lg-12">最大有效时间为1年</span>
				    	</div>
				    	<!-- 跳转按钮 -->
						<div class="div-btn col-lg-9">
							<!-- 定义了一个参数 -->
							<a href='{:U("Home/Need/needCate",array("revise"=>revise))}' class="btn btn-info">上一页</a>
							<button id="jsubmit" type="submit" class="btn btn-success">下一页</button>
						</div>
						<!-- 跳转按钮结束 -->
					</form>	
				</div>
			</div>
		</center>	
	</div>
	<!-- 提示输入 -->
	<load href="__PUBLIC__/js/mo.js" />
	<script type="text/javascript">
	// 验证
	function budgetVerify(){
		//防止恶意点击按钮
		$('#jsubmit').attr('disabled',true);
		//点击一次一秒后可点击
    	setTimeout(function(){
			$('#jsubmit').attr('disabled',false);
		},1000);
		// 明确预算输入值获取
		var text = $('#exampleInputAmount').val();
		// 正则
		var mypreg = /^(([1-9]\d{1,9})(\.\d{1,2}){0,1})[\-,\+]{0,1}(([1-9]\d{1,9})(\.\d{1,2}){0,1}){0,1}$/;
		// 判断
		if($('#jselect').val() == '' && text == ''){
			mo.msg('请选择预算');
			return false;
		}

		if(text && !mypreg.test(text)){
			mo.msg('请正确输入预算');
			return false;	
		}
		
		if($('#LAY_demorange_e').val()==''){
			mo.msg('请选择有效期');
			return false;
		}else{
			return true;
		}

	}

</script>
</block>
