<extend name='./Public/template/listBase.html'/>

  <!-- 加载自己的外部文件 -->
  <block name="listfile">
  </block>

  <!-- 这里写内容 -->
  <block name="listcentent">
    <!-- 开始 -->
    <div class="container-filut">
      <div class="" style="width:100%;height:50px;font-size:20px;font-weight:bold;line-height:50px;padding-left:10px;border-bottom:1px solid #ccc;">
          <div class="" style="">
                我是需方
          </div>
      </div>
    </div>

    <div class="" style="width:100%;height:10px;float:left;"></div>

    <div class="container-filut">
      <div class="" style="width:50%; border-top:1px solid #ccc;border-bottom:1px solid #ccc;float:left;height:200px;">
        <div class="" style="float:left;">
          <img src="__PUBLIC__/home/pro/img/investor_page/mxtzr_1.png" alt="" />
        </div>
        <div class="" style="float:left;padding-left:10px;">
          <p>用户名:<span  style="font-weight:bold;">userName</span></p>
          <p>账号认证:
            <a href="#" style="background:#ccc;">支</a>
            <a href="#" style="background:#ccc;">企</a>
            <a href="#" style="background:#ccc;">手</a>
            <a href="#" style="background:#ccc;">实</a>
            <a href="#" style="background:#ccc;">银</a>
            <a href="#" style="background:#ccc;">邮</a>
          </p>
          <p>手机:13434343434</p>
          <p>QQ:</p>
          <p>邮箱:</p>
        </div>
      </div>
      <div class="" style="width:50%; border-top:1px solid #ccc;border-bottom:1px solid #ccc;float:left;height:200px;padding-top:50px;">
        <table class="table table-hover">
          <tr>
            <td>待付款需求</td>
            <td><p style="width:50px;background:orange;text-align:center;border-radius:8px;">0</p></td>
            <td>待选方案</td>
            <td><p style="width:50px;background:orange;text-align:center;border-radius:8px;">0</p></td>
          </tr>
          <tr>
            <td>待付款服务</td>
            <td><p style="width:50px;background:orange;text-align:center;border-radius:8px;">0</p></td>
            <td>待评价</td>
            <td><p style="width:50px;background:orange;text-align:center;border-radius:8px;">0</p></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="" style="width:100%;height:10px;float:left;"></div>

    <div class="container-filut">
      <div class="" style="width:49%;float:left">
        <table class="table table-hover">
          <caption class=""><p style="color:black;font-weight:bold;">评价信息:</p></caption>
          <tr>
            <td>信誉值:</td>
            <td>0</td>
            <td>好评率</td>
            <td>0%</td>
          </tr>
          <tr>
            <td>发布需求数:</td>
            <td>0</td>
            <td>支付需求款</td>
            <td>&yen;0.00元</td>
          </tr>
          <tr>
            <td>购买服务数:</td>
            <td>0</td>
            <td>支付服务款:</td>
            <td>&yen;0.00元</td>
          </tr>
        </table>
      </div>

      <div class="" style="width:2%;float:left;height:200px;"></div>

      <div class="" style="width:49%;float:left">
        <table class="table table-hover">
          <caption class=""><p style="color:black;font-weight:bold;">最新动态:</p></caption>
          <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="" style="width:100%;height:10px;float:left;"></div>

    <div class="container-filut">
      <div class="" style="width:49%; float:left;padding: 0 5px;">
        <table class="table table-hover">
          <caption class=""><p style="color:black;font-weight:bold;">我收藏的服务:</p></caption>
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>店家</th>
          </tr>
        </table>
      </div>

      <div class="" style="width:2%;float:left;height:200px;"></div>

      <div class="" style="width:49%; float:left;padding: 0 5px;">
        <table class="table table-hover">
          <caption class=""><p style="color:black;font-weight:bold;">我的交易记录:</p></caption>
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>服务机构</th>
          </tr>
        </table>
      </div>
    </div>
    <!-- 结束 -->
  </block>
