<extend name='./Public/template/listBase.html'/>

  <!-- 加载自己的外部文件 -->
  <block name="listfile">
  </block>

  <!-- 这里写内容 -->
  <block name="listcentent">
    <!-- 开始 -->
    <div class="container-filut">
      <div class="" style="width:100%;height:50px;font-size:20px;font-weight:bold;line-height:50px;padding-left:10px;border-bottom:1px solid #ccc;">
          <div class="" style="">
                账号信息:
          </div>
      </div>
      <div class="" style="width:100%;height:200px;padding:10px;">
          <div class=""  style="width:20%;float:left;text-align:center;height:200px;">
            <div class="" style="border:1px solid #CCC;height:156px;">
                <img src="__PUBLIC__/home/pro/img/logo.jpg" height="153"alt="" />
            </div>
            <div class="" style="hieght:20px;">
                <p style="font-size:20px;color:#111111;font-weight:bold;">username</p>
            </div>
          </div>
          <div class="" style="width:30%;float:left;font-size:16px;margin:0 10px;text-align:center;">
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
          </div>

          <div class="" style="width:30%;float:left;font-size:16px;margin:0 10px;text-align:center;">
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
            </p>信息1:&nbsp;&nbsp;信息1 <a href="#" style="padding-left:20px;">去死吧</a></p>
          </div>
      </div><br>
      <div class=""  style="margin-bottom:10px;width:100%;height:50px;font-size:20px;font-weight:bold;line-height:50px;padding-left:10px;border-bottom:1px solid #ccc;">
        <div class="">
            认证信息:
        </div>
      </div>
      <div class="container-filut" style="border:1px solid #ccc;">
          <table class="table table-hover">
            <tr>
              <td><a href="#"><img src="__PUBLIC__/home/pro/img/2016-12-20_142003.jpg" alt="" /></a></td>
              <td>adsdf阿德的发的</td>
              <td>已认证</td>
              <td>立即认证</td>
            </tr>
            <tr>
              <td><a href="#"><img src="__PUBLIC__/home/pro/img/2016-12-20_142003.jpg" alt="" /></a></td>
              <td>adsdf阿德的发的</td>
              <td>已认证</td>
              <td>立即认证</td>
            </tr>
            <tr>
              <td><a href="#"><img src="__PUBLIC__/home/pro/img/2016-12-20_142003.jpg" alt="" /></a></td>
              <td>adsdf阿德的发的</td>
              <td>已认证</td>
              <td>立即认证</td>
            </tr>
            <tr>
              <td><a href="#"><img src="__PUBLIC__/home/pro/img/2016-12-20_142003.jpg" alt="" /></a></td>
              <td>adsdf阿德的发的</td>
              <td>已认证</td>
              <td>立即认证</td>
            </tr>
            <tr>
              <td><a href="#"><img src="__PUBLIC__/home/pro/img/2016-12-20_142003.jpg" alt="" /></a></td>
              <td>adsdf阿德的发的</td>
              <td><p>已认证</p></td>
              <td><a href="#">立即认证</a></td>
            </tr>
          </table>
      </div>
    </div>
    <!-- 结束 -->
</block>
