<extend name='./Public/template/listBase.html'/>

  <!-- 加载自己的外部文件 -->
  <block name="listfile">
  </block>

  <!-- 这里写内容 -->
  <block name="listcentent">

  <style>
    .my_info_content table tr td{
      line-height:60px;
    }
  </style>
    <!-- 开始 -->
    <div class="" style="width:100%;height:50px;font-size:20px;font-weight:bold;line-height:50px;padding-left:10px;border-bottom:1px solid #ccc;margin-bottom:10px;">
      <div class="" style="">
            账号认证
      </div>
    </div>
    <div class="my_info_content">
        <table class="table table-hover">
          <foreach name="attestation_list" item="vo">
            <tr>
              <td><img width="50" src="__PUBLIC__/home/pro/img/{$vo['attn_num']}2016-12-20_141558.jpg" alt="" /></td>
              <td>{$vo['appe_type']}</td>

              <if condition="$vo['attn_status'] eq 1">
                <td>已认证</td>
                <td><a href="{:U('Home/User/identityAttestationDetail/num/'.$vo['attn_num'])}"><div class="btn btn-info">查看认证</div></a></td>
              <else />
                <td>未认证</td>
                <td><a href="{:U('Home/User/identityAttestationDetail/num/'.$vo['attn_num'])}"><div class="btn btn-info">立即认证</div></a></td>
              </if>
            </tr>
          </foreach>
        </table>
    </div>
    <!-- 结束 -->
    <script src="__PUBLIC__/Home/pro/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/Home/pro/js/my_info.js"></script>
  </block>
