<extend name='./Public/template/listBase.html'/>

  <!-- 加载自己的外部文件 -->
  <block name="listfile">
    <load href="__PUBLIC__/home/pro/js/makePassword.js"/>
  </block>

  <!-- 这里写内容 -->
  <block name="listcentent">
    <!-- 开始 -->
    <div class="" style="width:100%;height:50px;font-size:20px;font-weight:bold;line-height:50px;padding-left:10px;border-bottom:1px solid #ccc;margin-bottom:10px;">
        <div class="" style="">
              修改登录密码
        </div>
    </div>
    <div class="my_info_content">
    <p style="color:#286090;text-align:center;"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;为了您的权益与安全，请不要将登录密码透露给他人，并且牢记您的新密码</p>
      <table class="my_info_content_care_table">
        <tbody>
          <form id="formAct">
            <tr>
              <td width="300" align="right" class="color555">当前密码：</td>
              <td class="color555"><input class="my_info_content_care_table_text" id="user_password" type="password"></td>
            </tr>
            <tr>
              <td align="right" class="color555">新密码：</td>
              <td class="color555"><input class="my_info_content_care_table_text" id="new_password" type="password"></td>
            </tr>
            <tr>
              <td align="right" class="color555">确认新密码：</td>
              <td class="color555"><input class="my_info_content_care_table_text" id="verify_password" type="password"></td>
            </tr>
            <tr id="error-info" style="display:none;height:14px;"> 
              
            </tr>
            <tr>
              <td></td><td align="center" class="color555" style="text-align:left"><input class="btn btn-primary" id="submit" type="submit" value="确认修改"></td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>
    <!-- 结束 -->
  </block>
