<extend name='./Public/template/listBase.html'/>

  <!-- 加载自己的外部文件 -->
  <block name="listfile">
  </block>

  <!-- 这里写内容 -->
  <block name="listcentent">
   <!-- 开始 -->
   <div class="container-filut">
     <div class="" style="width:100%;height:50px;font-size:20px;font-weight:bold;line-height:50px;padding-left:10px;border-bottom:1px solid #ccc;">
         <div class="" style="">
               交易动态
         </div>
     </div>
   </div>
   <div class="" style="position:relative;top:0px;left:0px;border:1px solid #ccc;margin-top:10px;">
     <div class="" style="position:absolute;top:20px;left:40px;text-align:center;line-height:50px;">
       <form class="" action="index.html" method="post" >
         <select class="" name="" style="width:80px;height:42px;border:1px solid #ccc;border-radius:3px;">
           <option value="" selected="selected">全部</option>
           <option value="" >已读</option>
           <option value="" >未读</option>
         </select>
       </form>
     </div>
     <div class="" style="margin:100px 0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;width:100%;padding:20px;">
       <table class="table table-hover">
         <tr>
           <th>1</th>
           <th>2</th>
           <th>3</th>
           <th>4</th>
         </tr>
         <tr>
           <td>1</td>
           <td>2</td>
           <td>3</td>
           <td>4</td>
         </tr>
       </table>
     </div>
     <div class="" style="position:absolute;bottom:20px;right:40px;width:300px;height:40px;text-align:center;line-height:40px;">
       <div class="" style="float:left;width:80px;height:40px;border:1px solid #ccc;border-radius:5px;">
         <a href="#">全选</a>
       </div>
       <div class="" style="float:left;width:114px;height:40px;border:1px solid #ccc;margin:0 10px;border-radius:5px;">
         <a href="#">标记为已读</a>
       </div>
       <div class=""style="float:left;width:80px;height:40px;border:1px solid #ccc;border-radius:5px;">
         <a href="#">删除</a>
       </div>
     </div>
   </div>
</block>
