<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="revised" content="Ningxia Seasons, 2015/8/13/" />
    <!-- 定义页面的最新版本 -->
    <meta name="description" content="网站简介" />
    <!-- 网站简介 -->
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
    <!-- 搜索关键字 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <load href="__PUBLIC__/home/pro/css/crowdfunding_center/my_info.css"/>

    <load href="__PUBLIC__/home/pro/css/bootstrap.min.css"/>
    <load href="__PUBLIC__/home/pro/js/jquery-2.1.3.min.js"/>
    <load href="__PUBLIC__/home/pro/js/bootstrap.min.js"/>
    <!-- 消息提示框 -->
    <load href="__PUBLIC__/home/pro/hplus/toastr/toastr.min.css" />
    <load href="__PUBLIC__/home/pro/hplus/toastr/toastr.min.js" />
    <!-- 确认框 -->
    <load href="__PUBLIC__/home/pro/sweetalert/css/sweetalert.css" />
    <load href="__PUBLIC__/home/pro/sweetalert/js/sweetalert.min.js" />
    <style>
       *{
         font-family:"SimHei",黑体,"Microsoft YaHei",微软雅黑;
       }
    </style>

    <!-- 加载自己的外部文件 -->
    <block name="listfile">

    </block>
  </head>
  <body>

  <!-- 这里写你的内容 -->
  <block name="listcentent">

  </block>


  </body>
  </html>
