<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="renderer" content="webkit">
    <load href="__PUBLIC__/css/bootstrap.min.css" />
    <load href="__PUBLIC__/css/dataTables.bootstrap.css" /> 
    <load href="__PUBLIC__/css/style.min.css" />
    <load href="__PUBLIC__/css/font-awesome.min.css" />
    <load href="__PUBLIC__/layui/css/layui.css"  />
    <load href="__PUBLIC__/admin/css/animate.min.css" />
    <load href="__PUBLIC__/admin/css/animate.min.css"  />
</head>
    <style type="text/css">
           .addbut{
        display: block;
        margin-left:48%;
        cursor: pointer;
        position: absolute;
        z-index: 1;
      }

      img{
        cursor: pointer;
      }
     
      .layui-form-select{
        display: none;
      }

    .addadvetr{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: white;
        display: none;
        z-index: 2;
        /*padding: 100px;*/
    }

    #myForm{
        width: 500px;
        height: 500px;
        float: left;

    }

    .imgd{
        width: 300px;
        margin-right: 50px;
        height: auto;
        float: left;
    }

    .imgd img{
        width: 300px;
    }

    .content{
        outline:none;
        width: 300px;
        height: 40px;
        border: 1px solid #EEEEEE;
        line-height: 40px;
        padding: 0px 10px;

    }

    #stotese{
        width: 300px;
        height: 35px;
    }

    .selectul{
        width: auto;
        height: auto;
        border: 1px solid #EEEEEE;
        position: absolute;
        background: white;
         display: none;
    } 

    .selectul li{
        transition: background 0.5s;
        width: 498px;
        padding: 2px 10px;
        cursor: pointer;
        font-size: 14px;
    }

     .selectul li:hover{
        transition: background 0.5s;
        background: #EEE;
     }
    </style>
<body>        

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <!-- 厂家信息开始 -->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">               
                    <div class="ibox-content">
                    <button type="button" class="btn btn-primary addbut">添加</button>
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="layer-photos-demo">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>厂家</th>
                                    <th>图片</th>
                                    <th>地址</th>
                                    <th>网址</th>
                                    <th>添加时间</th>
                                    <th>修改时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="company['company']" item="v">
                                    <tr>
                                        <td>{$v.appt_id}</td>
                                        <td>{$v.appt_company_name}</td>
                                        <td><img src="__PUBLIC__/Uploads{$v.appt_company_zoom}" layer-pid="{$v.appt_where}/{$v.appt_store_id}" layer-src="__PUBLIC__/Uploads{$v.appt_company_pic}"></td>
                                        <td>{$v.appt_address}</td>
                                        <td><a href="http://{$v.appt_www}" target="bank">{$v.appt_www}</a></td>
                                        <td>{$v.appt_create_time}</td>
                                        <td>{$v.appt_mod_time}</td>
                                        <td class="center"><button type="button" class="btn btn-primary"  onclick="modify('{$v.appt_id}','{$v.appt_company_name}','{$v.appt_country}','{$v.appt_address}','{$v.appt_phone}','{$v.appt_portraiture}','{$v.appt_www}','{$v.appt_detail}')" >详情</button> <button type="button" class="btn btn-danger" onclick="del('{$v.appt_id}')">删除</button></td>
                                    </tr>
                                </foreach>                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 厂家信息结束 -->

            <!-- 添加厂家区域开始 -->
             <div class="addadvetr">
                    <div class="container">
                        <div class="row">
                             <div class="imgd"><img src="" id="jimg"></div>
                            <form role="form" method="post" enctype="multipart/form-data" id="myForm" onsubmit="return false" >

                             <!-- Split button -->

                            <div class="form-group">
                                <label for="exampleInputPassword1">厂家名称</label>
                                <input type="text" class="form-control input-lg"  value="" autocomplete="off" placeholder="请填写厂家名称" name="appt_company_name">
                                
                            </div>

                              <div class="form-group">
                                <label for="exampleInputt">国家</label>
                                <input type="text" name="appt_country" class="form-control input-lg"  placeholder="请填写国家">
                            </div>


                             <div class="form-group">
                                <label for="exampleInputt">电话</label>
                                <input type="text" name="appt_phone" class="form-control input-lg"  placeholder="请填写电话">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputt">传真</label>
                                <input type="text" name="appt_portraiture" class="form-control input-lg"  placeholder="请填写传真">
                            </div>

                            <div class="form-group">
                                <label for="exampleInpud">地址</label>
                                <input type="text" name="appt_address" class="form-control input-lg"  placeholder="请填写地址">
                            </div>

                            <div class="form-group">
                                <label for="exampleInpud">官网</label>
                                <input type="text" name="appt_www" class="form-control input-lg" placeholder="请填写网址">
                            </div>

                             <div class="form-group">
                                <label for="exampleInpud">详情</label>
                                <textarea placeholder="请输入内容" class="layui-textarea" name="appt_detail"></textarea>
                            </div>

                            <div class="form-group">
                                 <label for="exampleInputFile"></label>
                                 <input type="file" id="exampleInputFile" name="pic">
                                 <p class="help-block">请选择图片文件<br></p>
                             </div>                           
                              <button type="submit" class="btn btn-default cancel">取消</button>
                              <button type="submit" class="btn btn-primary save">上传</button> 
                            </form>    
                        </div>
                    </div>
                </div>
                <!-- 添加图片结束 -->
        </div>
    </div>
          
    <!-- Mainly scripts -->
    <load href="__PUBLIC__/js/jquery-2.1.3.min.js" />
    <load href="__PUBLIC__/js/bootstrap.min.js" />
    <load href="__PUBLIC__/layer/layer.js"/>
    <load href="__PUBLIC__/js/mo.js" />
    <load href="__PUBLIC__/js/jquery.dataTables.js" />
    <load href="__PUBLIC__/js/dataTables.bootstrap.js" />
    <load href="__PUBLIC__/layui/layui.js" />
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable();

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            });

        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData([
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row"]);

        }   
            
        //添加厂家切换页面
        $('.addbut,.cancel').click(function(){
            $('.addadvetr').slideToggle();
        })

        //上传图片预览（创建一个URL对象）
        function getObjectURL(file) {
            var url = null ; 
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            return url ;
        }

        //实例化对象。把所选择的图片URL放到预览处实现预览
        var formData;
        $("#exampleInputFile").change(function(){
            var objUrl = getObjectURL(this.files[0]);
            formData = new FormData($('#myForm')[0]);
            console.log("objUrl = "+objUrl);
            if (objUrl) {
                $("#jimg").attr("src", objUrl);
            }
            
        }) ;

        //保存操作
        $('.save').click(function(){
            formData = new FormData($('#myForm')[0]);
            mo.ajaxUp(formData,"{:U('Instrument/addCompany')}",function(res){
                if(res['status']){
                     mo.msg(res['info'],1);
                }else{
                    mo.msg(res['info']);
                }
            })
        })


        function modify(appt_id,appt_company_name,appt_country,appt_address,appt_phone,appt_portraiture,appt_www,appt_detail){
            var str = "";
            str += '<form class="form-horizontal" role="form" onsubmit="return false" id="myForm1">'+
                      '<div class="form-group">'+
                        '<label for="" class="col-sm-2 control-label">厂商</label>'+
                        '<div class="col-sm-10">'+
                          '<input type="hidden" name="appt_id" value="'+appt_id+'">'+ 
                          '<input type="text" name="appt_company_name"  class="form-control" value="'+appt_company_name+'" disabled="true">'+
                        '</div>'+
                      '</div>'+

                      '<div class="form-group">'+
                        '<label for="" class="col-sm-2 control-label">国家</label>'+
                        '<div class="col-sm-10">'+
                          '<input type="text" class="form-control" name="appt_country" value="'+appt_country+'" >'+
                        '</div>'+
                      '</div>'+

                      '<div class="form-group">'+
                        '<label for="" class="col-sm-2 control-label">地址</label>'+
                        '<div class="col-sm-10">'+
                          '<input type="text" class="form-control" name="appt_address" value="'+appt_address+'" >'+
                        '</div>'+
                      '</div>'+

                      '<div class="form-group">'+
                        '<label for="" class="col-sm-2 control-label">电话</label>'+
                        '<div class="col-sm-10">'+
                          '<input type="text" class="form-control" name="appt_phone" value="'+appt_phone+'" >'+
                        '</div>'+
                      '</div>'+

                      '<div class="form-group">'+
                        '<label for="" class="col-sm-2 control-label">传真</label>'+
                        '<div class="col-sm-10">'+
                          '<input type="text" class="form-control" name="appt_portraiture" value="'+appt_portraiture+'" >'+
                        '</div>'+
                      '</div>'+

                       '<div class="form-group">'+
                        '<label for="" class="col-sm-2 control-label">网址</label>'+
                        '<div class="col-sm-10">'+
                          '<input type="text" class="form-control" name="appt_www" value="'+appt_www+'" >'+
                        '</div>'+
                      '</div>'+

                      '<div class="form-group">'+
                        '<label for="" class="col-sm-2 control-label">详情</label>'+
                        '<div class="col-sm-10">'+
                          '<textarea placeholder="请输入内容" class="form-control" rows="5" name="appt_detail">'+appt_detail+'</textarea>'+
                        '</div>'+
                     '</div>'+
                    '</form>';
            mo.mod(str,function(){
                console.dir($('#myForm1').serialize());
                mo.ajax($('#myForm1').serialize(),"{:U('Instrument/saveCompany')}",function(res){
                    if(res['status']){
                        mo.msg(res['info'],1);
                    }else{
                        mo.msg(res['info']);
                    }
                })
            })
        }

        function del(appt_id){
            mo.confirm('你确定要删除吗？',function(){
                mo.ajax({'appt_id':appt_id},"{:U('Instrument/delCompany')}",function(res){
                    if(res['status']){
                        mo.msg(res['info'],1);
                    }else{
                        mo.msg(res['info']);
                    }
                })
            })
        }

            //图片预览
        layer.photos({
          photos: '#layer-photos-demo'
          ,anim: 5
        });

        //form表单事件监听
    layui.use(['form', 'layedit', 'laydate'], function(){
          var form = layui.form()
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;
  
    });
   
    </script>

</body>

</html>
