<extend name='./Public/template/base.html'/>

  <block name="file">
    <load href="__PUBLIC__/css/selectPassword.css"/>
    <load href="__PUBLIC__/js/selectPassword.js"/>
  </block>

  <!-- 这里写内容 -->
  <block name="content">
    <!-- 开始 -->
    
    <div class="select-pass">

      <!-- 页面标题 -->
      <h4>忘记了密码？</h4>
      <hr>

      <!-- 表单 -->
      <form class="form-horizontal" id="form">

        <div class="form-group">
          <label class="col-sm-3"></label>
          <div class="col-sm-5" id="hint">
            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;输入您注册的账号绑定的手机号码，以接收短信验证码。
          </div>
          <label class="col-sm-3"></label>
        </div>

        <div class="form-group">
          <label class="col-sm-3"></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" maxlength="13" id="user_phone" placeholder="请输入您的手机号码">
          </div>
          <label class="col-sm-3"></label>
        </div>

        <div class="form-group">
          <label class="col-sm-3"></label>
          <div class="col-sm-3" id="css-phone">
            <input type="text" class="form-control" maxlength="6" id="user_code" placeholder="手机验证码" >
          </div>
          <div class="col-sm-2" id="css-code">
            <div id="user_get_code">发送验证码</div>
          </div>
          <label class="col-sm-3"></label>
        </div>

        <div class="form-group">
          <label class="col-sm-3"></label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="one_user_password" placeholder="新密码">
          </div>
          <label class="col-sm-3"></label>
        </div>

        <div class="form-group">
          <label class="col-sm-3"></label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="re_user_password" placeholder="确认新密码">
          </div>
          <label class="col-sm-3"></label>
        </div>

        <!-- 错误信息 -->
        <div class="form-group" id="error">
          <label class="col-sm-3"></label>
          <div class="col-sm-5" id="css-phone">
            <div id='error-info'></div>
          </div>
          <label class="col-sm-3"></label>
        </div>

        <!-- 提交按钮 -->
        <div class="form-group">
          <label class="col-sm-3"></label>
          <div class="col-sm-5">
            <button type="submit" class="btn-submit" id="selectpass-submit">下一步</button>
          </div>
          <label class="col-sm-3"></label>
        </div>
      </form>
    </div>

    <!-- 结束 -->
</block>
