<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<script src="__PUBLIC__/js/jquery-2.1.3.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
    	<input type="hidden" name="id" value="{$data['id']}"  />
        <table class="table">
			<tr>
				<td>上级权限：</td>
				<td>
					父级分类名称:<select name="parent_id" class="form-control" style="width:200px">
						<option value="0">顶级权限</option>
						<?php foreach ($parentData as $k => $v): ?> 
						<?php if($v['id'] == $data['id'] || in_array($v['id'], $children)) continue ; ?> 
						<option <?php if($v['id'] == $data['parent_id']): ?>selected="selected"<?php endif; ?> value="<?php echo $v['id']; ?>"><?php echo str_repeat('-', 5*$v['level']).$v['cate_name']; ?></option>
						<?php endforeach; ?>					
						</select>
				</td>
			</tr>
            <tr>
                <td>分类名称：</td>
                <td>
                    修改子级的名称:<input  type="text" name="cate_name" value="<?php echo $data['cate_name']; ?>" class="form-control" style="width:200px"//>
                </td>
            </tr>
            <tr>
            	<td></td>
                <td>
                    <input type="submit" class="btn" value=" 确定 " />
                    <input type="reset" class="btn" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
