dl,dt,dd,p{
	margin: 0;
	padding: 0;
}
/*背景色*/
body{
	background: #f0f0f0;
}
a{
	out-line: none;
}
/*大框*/
.container-box{
	background: #f1f1f1;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*左边区域*/
.box-left{
	height: 100%;
	background: #fafafa;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #E6E6E6;
}
/*右边区*/
.box-right{
	width: 282px;
	height: 100%;
	margin-left: 10px;
	background: #fafafa;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #E6E6E6;
}
/*右边服务商信息*/
/*服务商店铺信息*/
.service-store{
	height: 328px;
	margin-top: 5px;
	background: #fff;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #f2f2f2;
}
.service-store-title{
	height: 30px;
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
	color: #666666;
	font-size: 18px;
	font-weight: 700;
}
/*店铺主图*/
.service-store-img{
	display: block;
	width: 165px;
	height: 165px;
	margin: 15px auto;
}
/*服务商名*/
.service-store-name{
	height: 35px;
	padding-bottom: 15px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #3195F3;
	border-bottom: 1px dashed #999999;
}
/*能力等级 还有地址通用*/
.service-store-level{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #666666;
	margin-top: 10px;
	padding-left: 0;
}
.level-span{
	color: #333;
}
/*最新案例*/
.service-store-case{
	margin-top: 5px;
	background: #fff;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #f2f2f2;
	padding: 10px;
}
.service-store-case p{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #333333;
	font-weight: 700;
	border-bottom: 1px dashed #ccc;
}
/*钱*/
.case-money{
	color: #FA2C2C;
}
/*右边区结束*/
/*左边区域开始*/
/*第一层信息*/
.service-info{
	height: 140px;
	margin-top: 5px;
	border: 1px solid #ccc;
	padding: 5px;
}
.service-info-box{
	height: 140px;
	float: left;
	padding: 5px;
}
/*头像*/
.service-info-div{
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	margin-top: 10px;
}
/*图像图片圆形*/
.service-info-div img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
/*需求标题*/
.service-info-div-title{
	float: left;
	width: 420px;
	height: 25px;
	margin-top: 10px;
	margin-left: 20px; 
	line-height: 25px;
}
.service-info-div-title span{
	color: #333333;
	font-size: 16px;
	font-weight: 700;
}
.service-info-div-title a{
	text-decoration: none;
	out-line: none;
	ont-size: 14px;
}
/*金额*/
.service-info-money{
	width: 200px;
	height: 35px;
	float: left;
	border: 1px solid #ccc;
	line-height: 35px;
	text-align: center;
	background: #FAF2E8;
}
.service-info-money .span1{
	display: block;
	float: left;
	height: 33px;
	color: #fff;
	font-size: 16px;
	font-weight: 200;
	background: #62C9FA;
	padding-left: 10px;
	padding-right: 10px;
}
.service-info-money .span2{
	display: block;
	float: left;
	width: 20px;
	height: 33px;
	color: #FA2C2C;
	font-weight: 700;
}
.service-info-money .span3{
	display: block;
	float: left;
	height: 33px;
	color: #FA2C2C;
	font-weight: 700;
	text-align: right;
}

/*操作*/
.service-info-con{
	width: 350px;
	float: left;
	line-height: 25px;
	margin-top: 10px;
}
.service-info-con-span{
	color: #62C9FA;
	font-weight: 700;
	text-align: right;
	font-size: 14px;
}
/*右边说明*/
.service-info-right{
	float: right;
	width: 260px;
	height: 80px;
	padding: 5px;
	margin-top: 10px;
	background: #62C9FA;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #62C9FA;
}
.service-info-right span{
	color: #ffffff;
}
/*底部*/
.service-info-bottom{
	float: left;
	line-height: 25px;
	margin-top: 12px;
}
/*信息结束*/
/*进度条*/
a{
	text-decoration: none;
}
/*进度条样式*/
.ui-stepBar-wrap{
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
	z-index: 10;
}
.ui-stepBar-wrap .ui-stepBar{
	position: relative;
	width: 90%;
	height: 5px;
	background: #cccccc;
	top: 50px;
	left: 5%;
	z-index: 11;
}
.ui-stepBar-wrap .ui-stepBar .ui-stepProcess{
	position: relative;
	width: 0;
	height: 5px;
	background: #516784;
	top: 0;
	left: 0;
	z-index: 12;
}
.ui-stepBar-wrap .ui-stepInfo-wrap{
	width: 90%;
	margin: 0 auto;
	height: 100%;
}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo{
	position: relative;
	float: left;
	padding-top: 36px;
	text-align: center;
}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepSequence{
	position: relative;
	padding: 4px 8px;
	border-radius: 50%;
	z-index: 13;
}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepName{
	position: relative;
	line-height: 50px;
	z-index: 13;
}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-pre-change,
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-hind-change{
	cursor: pointer;
}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-pre-change:hover{
	box-shadow: 0 0 3px 1px #516784;
}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-hind-change:hover{
	box-shadow: 0 0 3px 1px #cccccc;
}
.judge-stepSequence-pre{
	background: #516784;
	color: #ffffff;
}
.judge-stepSequence-hind{
	background: #cccccc;
	color: #000000;
}

.author{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 40px auto;
	color: #1569ec;
	text-shadow: 1px 1px 0 #e7e7e7, 0 1px 7px #fff;
}
/*进度条结束*/
/*----------------------------*/
/*选项内容*/
.contentorder-title{
	font-size: 24px;
	font-weight: 700;
	color: #999;
	cursor: pointer;
	text-align: center;
}
/*内容*/
.content-con{
	width: 778px;
	margin: 20px 50px;
	padding: 10px; 
	background: #ffffff;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #f2f2f2;
}
/*----------------*/
/*合同*/
.contract-box{
	padding: 10;
	background: #efffef;
}
/*标题*/
.contract-title{
	text-align: center;
  	color: white;	
  	font-weight: bold;
	background: url('../../../image/service/image/contract-title.png') no-repeat center bottom;
	padding: 10px 0;
}
/*合同文件*/
.contract-file{
	border: 1px solid #6bbe6c;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 50px;
}
/*解释说明*/
.contract-explain{
	display: block;
	float: left;
	font-size: 14px;
	color: #333333;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}
.contract-workday{
	display: block;
	float: left;
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 20px;
	background: #6bbe6c;
}
.contract-file-dl{
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	background: #efffef;
}
.contract-file-dt{
	width: 100%;
	height: 34px;
	background: #6bbe6c; 
	display: block;
	float: left;
	color: white;
	font-size: 18px;
	font-weight: 700;
	line-height: 34px;
	padding-left: 20px;
}
.contract-file-dd{
	width: 130px;
	float: left;
	margin-left: 10px;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*dd 第一个公司名*/
.contract-file-dd1{
	width: 270px;
}
/*dd最后一个下载*/
.contract-file-dd-last{
	text-align: right;
}
.contract-text{
	font-size: 14px;
	color: #333333;
	font-weight: 700;
	margin-bottom: 10px;
}
/*签署合同区*/
.contract-seal{
	margin-top: 20px;
	margin-bottom: 80px;
	font-size: 22px;
	color: #333333;
	font-weight: 700;
	position: relative;
}
.contract-seal-img{
	width: 100px;
	height: 70px;
	overflow: hidden;
	position: absolute;
	top: 30px;
	left: 50px;
}
.seal-img-no{
	position: absolute;
	top: -70px;
}
.seal-img-ok{
	position: absolute;
	top: 0px;
}
/*------------------*/
/*工作台*/
/*已完成工作时*/
.service-work{
	margin-top: 20px;
	padding: 0;
	font-size: 16px;
	color: #333333;
}
.service-work p{
	margin-top: 10px;
}
/*没完成工作时*/
.service-work-no{
	margin-top: 20px;
	padding: 0;
	font-size: 16px;
	color: #d3d3d3;
}
.service-work-no p{
	margin-top: 10px;
}
/*文件柜文件下载区*/

/*已完成工作时*/
.file-dowmload{
	border: 1px solid #d2d2d2;
	height: 100px;
	overflow-y:scroll;
	line-height: 25px;
	margin-top: 20px;
	margin-left: 15px;
	color: #3195F3;
}
/*没完成工作时*/
.file-dowmload-no{
	height: 25px;
	border: 1px solid #d2d2d2;
	line-height: 25px;
	margin-top: 20px;
	margin-left: 15px;
	color: #d3d3d3;
}
/*按钮*/
.service-work-btn{
	margin-top: 20px;
}
#contract-button{
	float: right;
	margin-right: 200px;
}
.service-work-btn button{
	background: #62C9FA;
}
.service-work-btn a{
	color: #ffffff;
	font-weight: bold;
}
/*提示信息*/
/*完成工作*/
.service-work-prompt{
	font-size: 14px;
	color: #ffa11a;
}
.service-work-prompt a{
	font-size: 14px;
	color: #5CB85C;
}
/*没有完成工作*/
.service-work-prompt-no{
	font-size: 14px;
	color: #d3d3d3;
}
/*交易类型*/
.form-group{
	margin-top: 20px;
	padding: 20px;
	border-bottom: 2px solid #f0f0f0;
}
/*标题*/
/*完成工作时*/
.file-title{
	color: #333333;
	font-weight: 700;
	font-size: 16px;
}
/*没有完成工作时*/
.file-title-no{
	color: #d3d3d3;
	font-weight: 700;
	font-size: 16px;
}
/*内容*/
.file-div{
	color: #333333;
	font-weight: 400;
	font-size: 14px;
}
/*文件上传*/
/*文件上传描述 完成工作时*/
.file-desc{
	color: #333333;
	font-weight: 400;
	font-size: 14px;
	color: #3195F3;
}
/*没有完成工作时*/
.file-desc-no{
	color: #333333;
	font-weight: 400;
	font-size: 14px;
	color: #d3d3d3;
}
/*按钮*/
/*完成工作时*/
#contract-submit{
	margin-left: 30px;
}
/*没有完成时*/
#contract-submit-no{
	margin-left: 30px;
}
/*需求信息*/
.need-desc-box{
	margin-top: 15px;
	padding-top: 10px;
	border-top: 2px solid #f0f0f0;
	color: #333333;
	font-size: 14px;
	font-weight: 700;
}

.need-work-desc{
	font-size: 14px;
	color: #333333;
	font-weight: 300;
}
/*模态框*/
.modal-test-p{
	color: #0DAD51;
	font-weight: 300;
	font-size: 14px;
}
/*-------------------*/
/*需求选项内容*/
/*需求区*/
.need-box{
	margin: 20px 10px;
	padding: 10px; 
	background: #ffffff;
}
.need-box-needid {
	color: #333333;
	font-weight: 400;
	font-size: 16px;
}
.need-box-pdesc{
	font-weight: bold;
	margin-top: 20px;
	color: #333333;
	font-size: 18px;
}
.need-desc{
	margin-top: 20px;
	font-weight: 400;
	font-size: 16px;
	color: #333333;
	line-height: 40px;
}
.need-other{
	margin-top: 50px;

}
.need-time{
	font-size: 14px;
}

