<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>方案管理</title>
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
	<!-- <load href="__PUBLIC__/needhall/bootstrap.css" /> -->
	<!-- <load href="__PUBLIC__/needhallbootstrap.js"/> -->
	<load href="__PUBLIC__/js/jquery-2.1.3.min.js"/>
	<!-- <load href="__PUBLIC__/needhall/jquery.min.js"/> -->
	<load href="__PUBLIC__/needhall/docs.min.js"/>
	<load href="__PUBLIC__/needhall/bootstrap.min.js"/>
	<!-- //<load href="__PUBLIC__/css/needhall.css"/>	 -->
	<!-- <load href="__PUBLIC__/css/bootstrap.css" /> -->
	<!-- <load href="__PUBLIC__/css/bootstrap.min.css" /> -->
	<!-- <load href="__PUBLIC__/js/jquery-2.1.3.min.js" /> -->
	<!-- <load href="__PUBLIC__/js/bootstrap.js" /> -->
    <!-- <load href="__PUBLIC__/js/bootstrap.min.js" /> -->
    <!-- <load href="__PUBLIC__/js/needhall.js"/> -->
<!-- <load href="__PUBLIC__/js/tendina.js" />
<load href="__PUBLIC__/js/common.js" /> -->
</head>
<body  style="background-color:rgb(245,245,245);">
	<!-- {*<p>{$test}</p>*} -->
	
	<div class="container-fluid" style="background-color:rgb(245,245,245);border:1px solid rgb(200,245,245);border-radius:5px;">
		<div class="row">
			<div class="col-md-12" style="margin:15px 0 15px 0;color:blue;">后台首页 / 方案管理</div>
		</div>
		<div class="row" style="background-color:rgb(200,240,245);">
			<!-- <h2 class="needhall_h2">服务分类管理</h2> -->
			<div class="row" style="height:40px;background-color:lightblue;display:block;padding-top:3px;border-radius:5px;margin:15px 15px 15px 15px;">
				<div class="col-md-3"><h4>方案管理</h4></div>
				
			</div>	
			<!--  -->
			<!--  -->
			<div class="row" style="height:2px;background-color:blue;margin:15px 15px 15px 15px;"></div>
			<div id="son_class" class="row" style="background-color:white;margin:15px 15px 15px 15px;border-radius:5px;min-height:400px;">
				<!-- 分类头 -->
				<div class="panel panel-default" style="min-height:400px;">
					<div class="panel-heading row" style="margin:0px 0px 0px 0px;">
						<div class="col-md-1">方案ID</div>
					    <div class="col-md-1">需求ID</div>
					    <div class="col-md-1">需求人ID</div>
					    <div class="col-md-1">需求所属类</div>
						<div class="col-md-1">方案人ID</div>
						<div class="col-md-1">是否浏览</div>
						<div class="col-md-1">是否意向</div>
						<div class="col-md-1">是否中标</div>
						<div class="col-md-2">操作</div>
					</div>
					<!-- 遍历 -->
				<foreach name="bidlist" item="bidval" key="k">
					<div class="panel-body row">
						<div class="col-md-1" style="text-align:center">{$bidval['bid_id']}</div>
						<div class="col-md-1" style="text-align:center">{$bidval['need_id']}</div>
						<div class="col-md-1" style="text-align:center">{$bidval['need_userid']}</div>
						<div class="col-md-1" style="text-align:center">{$bidval['cate_name']}</div>
						<div class="col-md-1" style="text-align:center">{$bidval['bid_serviceid']}</div>
						<if condition="$bidval['bid_projectlook'] eq 1">
							<div class="col-md-1" style="text-align:center">是</div>
						<else/>
							<div class="col-md-1" style="text-align:center">否</div>
						</if>
						<if condition="$bidval['bid_projectwill'] eq 1">
							<div class="col-md-1" style="text-align:center">是</div>
						<else/>
							<div class="col-md-1" style="text-align:center">否</div>
						</if>
						<if>
						<if condition="$bidval['bid_projecwin'] eq 1">
							<div class="col-md-1" style="text-align:center">是</div>
						<else/>
							<div class="col-md-1" style="text-align:center">否</div>
						</if>
						<div class="col-md-2"><button class="btn btn-danger" tid="{$bidval['bid_id']}" onclick="del_bid(this)">删除</button> <a class="btn btn-info" vid="{$bidval['bid_id']}"
						data-toggle="modal" data-target="#myModal{$bidval['bid_id']}">浏览</a></div>
					</div>
					<!-- ========================================= -->
					<div class="modal fade" id="myModal{$bidval['bid_id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="myModalLabel">{$bidval['need_title']}<span style="color:red;">方案 #  {$bidval['bid_id']}</span> </h4>
								</div>
								<div class="modal-body">
								{$bidval['bid_projectdis']}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
								</div>
							</div>
						</div>
					</div>
				</foreach>
				</div>
			</div>
			<!--  -->
			<!-- <div style="height:2px;weight:800px;background-color:blue;"></div> -->
			<!--  -->
			<div class="row" style="height:40px;weight:800px;background-color:lightblue;display:block;padding-top:5px;margin:15px 15px 15px 15px;border-radius:5px;">
				<b id="page_class"  style="font-size:25px; display:block;text-align:center;padding-top:2px;height:35px;">{$page}</b>
			</div>
		</div>
	</div>
</body>
<script>
	/**
	 * [del 删除类]
	 * @param  {[type]} id   [description]
	 * @param  {[type]} obj  [description]
	 * @param  {[type]} url1 [description]
	 * @param  {[type]} url2 [description]
	 * @return {[type]}      [0:无效操作,1:有数据,不能删除;2:成功删除;3:删除失败]
	 */
		function del_bid(obj)
		{
			//console.log(id+':'+url1)
			var url='{:U('Admin/NeedHall/bidDel')}';
			var id=$(obj).attr("tid");
			//console.log(id);
			var rel=confirm('确定删除？');
			if(rel){
				$.post(url,{'del_id':id},function(data){
					//alert(data);
					if(data=='1')
					{
						alert('删除成功!');
						$(obj).parent().parent().remove();
					}else{
						alert('删除失败!');
					}
				});
			}
		}
</script>
</html>
