<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	    <load href="__PUBLIC__/admin/css/animate.min.css" />

		<script src="__PUBLIC__/js/jquery-2.1.3.min.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	</head>
	<body>
	    <div class="modal-dialog">
	        <div class="modal-content animated bounceInRight">
	            <div class="modal-header">
	                <h4 class="modal-title">新增菜单</h4>
	            </div>
	            <div class="modal-body">
	                <div class="form-group"><label>请输入菜单名称</label> <input type="text" placeholder="菜单名称" id="top-jurn" class="form-control"></div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" onclick="addTopjurn();" class="btn btn-primary">确定</button>
	            </div>
	        </div>
		</div>
	</body>
	<load href="__PUBLIC__/layer/layer.js"/>
	<script>
		function addTopjurn()
		{
	        $.post("addTopact",{'jurn_name':$('#top-jurn').val()},function(data){
	        	if (data) {
	        		 layer.msg('新增成功',{icon:6});
	        		 setTimeout("window.location.reload();",1900);
	        	}else{
	        		 layer.msg('新增失败,菜单名称重复或为空',{icon:5});
	        	}
	        });
		}	
	</script>
</html>
